
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  -webkit-font-smoothing: antialiased;
  font-family: 'Inter';
}

body {
  background-image: linear-gradient( 109.6deg,  rgba(45,116,213,1) 11.2%, rgba(121,137,212,1) 91.2% );
}

a {
  color: inherit;
  text-decoration: none;
}
